<form (ngSubmit)="onSubmit()">
    <div class="col-sm-6 form-group">
        <label for="produto" >Produto</label>
        <select type="text" [(ngModel)]="venda.produto" name="produto" class="form-control" placeholder="Produto">
        <option value="feijao">FEIJÃO</option>
        <option value="arroz">ARROZ</option>
        <option value="leite">LEITE</option>
        </select>
    </div>
    <div class="col-sm-6 form-group">
        <label for="produto">Valor</label>
        <input type="text" [(ngModel)]="venda.valor_unico" name="valor_unico" class="form-control" placeholder="Nome do produto"/>
    </div>
    <div class="col-sm-6 form-group">
        <label for="produto">Quantidade</label>
        <input type="number" [(ngModel)]="venda.quantidade" name="quantidade" class="form-control" placeholder="Nome do produto"/>
    </div>
    <div class="col-sm-6 form-group">
        <label for="mes">Mes</label>
        <select type="text" [(ngModel)]="venda.mes" name="mes" class="form-control" placeholder="Mes">
        <option value="01">JAN</option>
        <option value="02">FEV</option>
        <option value="03">MAR</option>
        <option value="04">ABR</option>
        <option value="05">MAI</option>
        <option value="06">JUN</option>
        <option value="07">JUL</option>
        <option value="08">AGO</option>
        <option value="09">SET</option>
        <option value="10">OUT</option>
        <option value="11">NOV</option>
        <option value="12">DEZ</option>
        </select>
    </div>
    
    <div style="margin-top: 10px">
      <button type="sumit" class="btn btn-primary" >Salvar</button>
    </div>
</form>